</main>
    <footer class="main-footer">
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> Gezilecek Yerler</p>

            <div class="contact-section">
                <h3>Bize Ulaşın</h3>
                <p>Sorularınız veya işbirliği için bize ulaşmaktan çekinmeyin.</p>
                <a href="mailto:mmehmetccan34@gmail.com?subject=Gezilecek%20Yerler%20Web%20Sitesi%20İletişim" class="contact-button">
                    E-posta Gönder <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>