</main>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WKL2F5VG');</script>
<!-- End Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C1W770WNSQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C1W770WNSQ');
</script>







    <footer class="main-footer">
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> Tatildeki Rotam</p>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKL2F5VG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5145155079973985"
     crossorigin="anonymous"></script>
            <div class="container footer-content">
            <div class="footer-links">
                <h3>Pages</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/privacy-policy">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="contact-section">
                <h3>Bize Ulaşın</h3>
                <p>Sorularınız veya işbirliği için bize ulaşmaktan çekinmeyin.</p>
                <a href="mailto:mmehmetccan34@gmail.com?subject=Gezilecek%20Yerler%20Web%20Sitesi%20İletişim" class="contact-button">
                    E-posta Gönder <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="/public/js/main.js"></script>
</body>
</html>