<%- include('partials/header', { countries: countries, allCities: allCities }) %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5145155079973985"
     crossorigin="anonymous"></script>
<section id="about">
  <h2>Hakkımızda</h2>
  <p>
    Tatildeki Rotam, gezmeyi sevenler için ilham veren bir blogdur. Amacımız, dünyanın dört bir yanındaki güzellikleri keşfetmek isteyen gezginlere rehberlik etmek ve onların seyahatlerini daha planlı, keyifli ve anlamlı hâle getirmektir.
  </p>
  <p>
    Sitemizde; yurt içi ve yurt dışı seyahat rotaları, gezilecek yerler, konaklama ve ulaşım önerileri, kişisel deneyimler ve pratik ipuçlarına yer veriyoruz.
  </p>
  <p>
    Genç bir Üniversite öğrencisi olarak, okuyucularımıza samimi ve faydalı içerikler sunmayı hedefliyoruz.
  </p>
</section>


<%- include('partials/footer') %>