<%- include('partials/header', { countries: countries, allCities: allCities }) %>
<meta name="google-site-verification" content="wGBbu10b3JngAR6BGzUX7pZgx1drMmzkP3HhqFJJnX4" />

  <h2>Gizlilik Politikası</h2>
  <p>
    Bu gizlilik politikası, <strong>Tatildeki Rotam</strong> web sitesini ziyaret ettiğinizde hangi bilgilerin toplandığını, nasıl kullanıldığını ve nasıl korunduğunu açıklar.
  </p>

  <h3>Toplanan Bilgiler</h3>
  <p>
    Sitemizi ziyaret ettiğinizde IP adresiniz, tarayıcı bilgileri ve ziyaret ettiğiniz sayfalar gibi veriler otomatik olarak toplanabilir. Bu bilgiler, yalnızca siteyi geliştirmek ve analiz yapmak amacıyla kullanılır.
  </p>

  <h3>Çerezler</h3>
  <p>
    Web sitemiz, kullanıcı deneyimini geliştirmek amacıyla çerezler kullanabilir. Tarayıcı ayarlarınızdan çerezleri kabul etme veya reddetme tercihini belirleyebilirsiniz.
  </p>

  <h3>Bilgi Paylaşımı</h3>
  <p>
    Ziyaretçilerden elde edilen kişisel bilgiler, üçüncü taraflarla paylaşılmaz, satılmaz veya kiralanmaz. Yalnızca yasal zorunluluk durumlarında yetkili mercilerle paylaşılabilir.
  </p>

  <h3>Dış Bağlantılar</h3>
  <p>
    Web sitemiz, başka sitelere bağlantılar içerebilir. Bu sitelerin gizlilik uygulamalarından sorumlu değiliz. Lütfen ziyaret ettiğiniz her sitenin gizlilik politikasını kontrol ediniz.
  </p>

  <h3>Değişiklikler</h3>
  <p>
    Gizlilik politikamız zaman zaman güncellenebilir. Güncellemeler bu sayfada yayınlanarak yürürlüğe girer.
  </p>

  <p>
    Sorularınız için bizimle <a href="mailto:mmehmetccan34@gmail.com?subject=Gezilecek%20Yerler%20Web%20Sitesi%20İletişim" class="contact-button">İletişime Geçebilirsiniz.</a>
  </p>
</section>


<%- include('partials/footer') %>